<div>
  <input [(ngModel)]="newAppointmentTitle" placeholder="Appointment description" />
  <input [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date" />
  <button (click)="addAppointment()">Add</button>
  <label> {{newAppointmentCounter}}</label>
</div>

<ul>
  <li *ngFor="let appointment of appointments; index as i">
    {{ appointment.title }} {{ appointment.date | date : "dd.MM.yyy" }} 
    <button (click)="deleteAppointment(i)">Delete</button>
  </li>
</ul>







<!-- <div>
  <input [(ngModel)]="newAppointmentTitle" placeholder="Appointment description" />
  <input [(ngModel)]="newAppointmentDate" type="date" placeholder="Appointment date" />
  <button (click)="addAppointment()">Add</button>
  <label> {{newAppointmentCounter}}</label>
</div>

<ul>
  <ul *ngFor="let appointment of appointments">
    {{ appointment.id }} {{ appointment.title }} {{ appointment.date | date : "dd.MM.yyy" }}
  </ul>
</ul> -->